/* Calculator.css */
.calculator {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  }
  .CalcContent{
    margin-top: -50px;
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('./images/pexels-nextvoyage-1304608.jpg');
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image repetition */
    opacity: 0.9;
    position: relative;
    
  }
  .display {
    height: 120px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    font-size: 3.5em;
    text-align: right;
    color: #e0e0e0;
    font-weight: 600;
    position: relative;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  .buttons .zero{
    grid-column: span 2;
  }
  
  button {
    height: 80px;
    font-size: 1.5em;
    font-weight: 900;
    background: #e0e0e0;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
    position: relative;
    background: rgba(255, 255, 255, 0.4); 
    z-index: 1; 
  }
 
  button:hover {
    background: #d4d4d4;
  }
  
  button:active {
    background: #ccc;
  }
  